services:
  api:
    build:
      context: .
    env_file:
      - .env.production
    ports:
      - "8080:8080"
    restart: always
    networks:
      - appnet

  postgres:
    restart: always
    env_file:
      - .env.production
