version: '3.9'
services:
  postgres:
    container_name: stocklab_db
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - appnet

networks:
  appnet:

volumes:
  postgres_data: 